:root {
    --background-main: #fff;
    --background-lightBlue: #F3F6F6;
    --primary: #1A18F7;
    --secondary: #0E0E0E;
    --lightSecondary: #A3A3A3;
    --text-800: #272727;
    --text-900: #0E0E0E;
    --border: #DDDDDD;
}

@font-face {
    font-family: "Teko";
    src: url('../../assets/fonts/Teko/Teko-Regular.ttf');
}

body {
    background: var(--background-main);
    font-family: "Teko", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-900);
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1024px;
    margin: auto;
}

.onlyDesktop {
    display: none;
}

.sectionTitle {
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .onlyDesktop {
        display: block;
    }
}